<a href="https://colab.research.google.com/github/21pa1a6135/pandas/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

df=pd.DataFrame({"Roll No":["CSE501","CSE502","CSE503"],"Name":["A.RAMU","B.RAJESH","B.SUBBU"]})
df

  Roll No      Name
0  CSE501    A.RAMU
1  CSE502  B.RAJESH
2  CSE503   B.SUBBU

In [3]:
import pandas as pd
import numpy as np

df=pd.DataFrame({"Roll No":["CSE501","CSE502","CSE503"],"Name":["A.RAMU","B.RAJESH","B.SUBBU"]})
df

  Roll No      Name
0  CSE501    A.RAMU
1  CSE502  B.RAJESH
2  CSE503   B.SUBBU