<a href="https://colab.research.google.com/github/21pa1a6135/pandas/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

df=pd.DataFrame({"Roll No":["CSE501","CSE502","CSE503"],"Name":["A.RAMU","B.RAJESH","B.SUBBU"]})
df

  Roll No      Name
0  CSE501    A.RAMU
1  CSE502  B.RAJESH
2  CSE503   B.SUBBU

In [20]:
import pandas as pd

data = pd.read_csv("/content/students_placement_data.csv")

df = pd.DataFrame(data)

df.isna().any()

Roll No                               False
Gender                                False
Section                               False
SSC Percentage                         True
inter_Diploma_percentage              False
B.Tech_percentage                      True
Backlogs                              False
registered_for_ Placement_Training     True
placement status                      False
dtype: bool

In [21]:
import pandas as pd

data = pd.read_csv("/content/students_placement_data.csv")

df = pd.DataFrame(data)
print(df.describe())

          Roll No  SSC Percentage  inter_Diploma_percentage  \
count  117.000000      116.000000                117.000000
mean    59.000000       80.153362                 80.535299
std     33.919021        9.462320                 11.818567
min      1.000000       44.000000                 40.200000
25%     30.000000       75.875000                 73.400000
50%     59.000000       82.745000                 83.600000
75%     88.000000       87.025000                 90.000000
max    117.000000       93.660000                 96.900000

       B.Tech_percentage    Backlogs
count         116.000000  117.000000
mean           62.662672    4.111111
std            12.591167    6.335148
min            21.200000    0.000000
25%            54.175000    0.000000
50%            63.885000    0.000000
75%            72.570000    7.000000
max            88.100000   25.000000

In [24]:
import pandas as pd

df = pd.read_csv("/content/students_placement_data.csv")

df_series=df['SSC Percentage']
df_series.mean()

80.1533620689655

In [25]:
import pandas as pd

df = pd.read_csv("/content/students_placement_data.csv")

df_series=df
df_series.mean()

<ipython-input-25-2d90e85a7eef>:6: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_series.mean()

Roll No                     59.000000
SSC Percentage              80.153362
inter_Diploma_percentage    80.535299
B.Tech_percentage           62.662672
Backlogs                     4.111111
dtype: float64

In [ ]:
import pandas as pd
import numpy as np

df=pd.DataFrame({"Roll No":["CSE501","CSE502","CSE503"],"Name":["A.RAMU","B.RAJESH","B.SUBBU"]})
df

  Roll No      Name
0  CSE501    A.RAMU
1  CSE502  B.RAJESH
2  CSE503   B.SUBBU